body {
    margin: 0px;
}

.Menu {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    right: 50px;
    height: 100px;
    background-color: #5D737E;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #DAFFEF;
}

.opcoes {
    width: 500px;
    display: flex;
    justify-content: space-around;
    font-size: medium;
}

.QuemSomos{
    display: grid;
    grid-template-columns: 70% 20% 10%;
    justify-content: flex-start;
}

.QuemSomos div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #64B6AC;
}

.QuemSomos div:nth-child(2) {
    position: relative;
    fill: #5D737E;
    top: 25%;
    right: 52.5%;
}

#textoQuemSomos {
    position: relative;
    right: 285%;
    width: 345px;
    top: 25%;
    color: #DAFFEF;
}

.diferencial{
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
    justify-content: flex-end;
    background-color: #DAFFEF;
}

.diferencial div:nth-child(1) { 
    fill: #64B6AC;
    position: relative;
    left: 56%;
    top: 25%;
}

.diferencial div:nth-child(2) { 
    position: relative;
    top: 25%;
    right: 0%;
    color: #FCFFFD;
}

.diferencial div:nth-child(3) { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 480px;
    margin: 20px;
}
/* Animações */
[data-anima] {
    opacity: 0;
    transition: 2s;
}

[data-anima = "esquerda"]{
    transform: translate3d(-80px, 0, 0);
}

[data-anima = "direita"]{
    transform: translate3d(80px, 0, 0);
}

[data-anima = "topo"]{
    transform: translate3d(0, -80px, 0);
}

[data-anima].animacao {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}